.Book {
  padding: 5px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.Book.missing {
  background: #faa;
}

.Book div {
  padding: 5px 5px;
}

.Book .details {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.Book .title {
  font-weight: bold;
}

.Book .author,
.Book .subject {
  color: #444;
}

.Book .subject {
  font-size: 0.9rem;
  font-style: italic;
}

.Book .accno,
.Book .rack {
  text-align: center;
  order: -1;
  flex: 1 0 50%;
  border-bottom: 1px solid #888;
  word-break: break-word;
  overflow-wrap: break-word;
}

@media (min-width: 650px) {
  .Book {
    flex-wrap: nowrap;
  }

  .Book .details {
    padding-left: 0;
    padding-right: 0;
  }

  .Book .accno,
  .Book .rack {
    flex: initial;
    order: initial;
    display: flex;
    justify-content: center;
    min-width: 50px;
    width: 15%;
    border-bottom: none;
  }
}
