.SearchBox {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}

.SearchBox .searchForm {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 45px;
  display: flex;
}

.SearchBox .searchInput,
.SearchBox .searchSubmit {
  height: 100%;
  border: none;
  outline: none;
  margin: 0 auto;
  font-size: 1.1rem;
  background-color: #fff;
}

.SearchBox .searchInput {
  padding: 5px;
  min-width: 250px;
  border-radius: 3px 0 0 3px;
  flex-grow: 1;
}

.SearchBox .searchSubmit {
  width: 45px;
  border-radius: 0 3px 3px 0;
  padding: 0;
  transition: background-color 0.5s, filter 0.5s;
}

.SearchBox .searchForm:hover .searchSubmit,
.SearchBox .searchSubmit:active {
  background-color: var(--theme-accent);
}

.SearchBox .searchSubmit:active {
  filter: brightness(0.8);
}

.SearchBox .SearchIcon {
  fill: var(--theme-accent);
  stroke: var(--theme-accent);
  height: 26px;
  width: 26px;
}

.SearchBox .searchForm:hover .SearchIcon,
.SearchBox .searchForm:active .SearchIcon {
  fill: #fff;
  stroke: #fff;
  transition: fill 0.5s, stroke 0.5s;
}
