.Book {
  padding: 10px 0;
}
.Book.missing {
  background: #faa;
}

.Book div {
  padding: 3px 0;
}

.Book > div {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
}

.Book .col15 {
  width: 15%;
}

.Book .col70 {
  width: 70%;
}

.Book .title {
  font-weight: bold;
}

.Book .author,
.Book .subject {
  color: #444;
}

.Book .subject {
  font-size: 0.9rem;
  font-style: italic;
}

.Book .accno,
.Book .rack {
  text-align: center;
  min-width: 50px;
}
