.List a {
  text-decoration: none;
  color: #000;
}

.List .item {
  padding: 10px 0;
}

.List .item div {
  padding: 3px 0;
}

.List .item > div {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
}

.List .item .col15 {
  width: 15%;
}

.List .item .col85 {
  width: 85%;
}

.List .item .num {
  text-align: center;
  min-width: 50px;
}

.List .item .title {
  font-weight: bold;
}

.List .item .desc {
  color: #444;
  font-size: 0.9rem;
  line-height: 1.2rem;
}
