nav {
  margin-top: 10px;
}

nav .NavLink {
  display: inline-block;
  width: 50%;
  padding: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #ccc;
}

nav .NavLink.active {
  color: #fff;
  border-bottom: 5px solid #f0860f;
}
