.Results .ResultBox {
  overflow-x: auto;
  background-color: #fff;
}

.Results table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.Results .book {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

.Results .book.missing {
  background: #faa;
}

.Results .book td {
  border: 0px;
  border-style: none solid solid none;
  padding: 10px;
}

.Results .book td div {
  padding: 3px 0;
}

.Results .book .title {
  font-weight: bold;
}

.Results .book .author,
.Results .book .subject {
  color: #444;
}

.Results .book .subject {
    font-size: .9rem;
    font-style: italic;
}

.Results .book .accno,
.Results .book .rack, {
  text-align: center;
  min-width: 50px;
}
