.Results {
  width: 100%;
  overflow-x: auto;
}

.Results table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

.Results .book {
  border: 2px solid rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

.Results .book.missing {
  background: #faa;
}

.Results .book td {
  border: 0px;
  border-style: none solid solid none;
  padding: 10px;
}

.Results .book td div {
  padding: 3px 0;
}

.Results .book .title {
  font-weight: bold;
}

.Results .book .author {
  color: #444;
}

.Results .book .accno,
.Results .book .rack,
.Results .book .subject {
  text-align: center;
  min-width: 50px;
}
