.Icons {
  vertical-align: text-bottom;
}

.Logo {
  height: 32px;
  width: 32px;
}

.SearchIcon {
  fill: var(--theme-accent);
  stroke: var(--theme-accent);
  height: 26px;
  width: 26px;
}

.GithubIcon {
  height: 16px;
  width: 16px;
}
