.App {
  width: 100%;
  min-width: 350px;
}

.App header {
  text-align: center;
  background-color: var(--theme-bg);
  color: #fff;
  padding-top: 10px;
}

.App header h1 {
  font-size: 2rem;
}

.App header h2 {
  font-size: 1.1rem;
}

.App main,
.App header > div {
  margin: 0 auto;
  width: 95%;
}

.App main {
  margin-bottom: 50px;
}

@media (min-width: 650px) {
  .App main,
  .App header > div {
    max-width: 650px;
  }
}
