.data-table {
  width: 650px;
  margin: auto;
}

.data-table span {
  padding: 5px;
}

.data-table .row {
  background-color: #eef3bb;
  border-radius: 5px;
  margin: 5px;
  width: 100%;
}

.data-table span.accno, span.rack, span.subject {
  display: inline-block;
  width: 50px;
  text-align: center;
}

.data-table span.title, span.author {
  display: inline-block;
  width: 200px;
}
