* {
  box-sizing: border-box;
}

:root {
  --theme-bg: #4d5a9e;
  --theme-accent: #f0860f;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: #f0f0f0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

svg {
  vertical-align: text-bottom;
}
